# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLISHABLE_KEY=

# App
APP_URL=https://ais-dev-ucoldcw6uzrxfiwkwu6b3r-90326859494.us-east1.run.app

# GenAI
GEMINI_API_KEY=

# Security
VITE_ENCRYPTION_KEY=
